<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sql="http://extend.spring.xml/schema/sql"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://extend.spring.xml/schema/sql
        http://extend.spring.xml/schema/sql/spring-sql.xsd">


    <sql:handle id="sqlMapperHandle">
        <sql:select name="merchant1">
            select * from ULTAB_WM_CATE where 1=18979
        </sql:select>
    </sql:handle>


   <!-- <sql:select id="merchant2">
        select * from ULTAB_WM_CATE     where 1=1
    </sql:select>-->


</beans>